label{
    display: inline-block;
    background-color:#00ffff;
    wbiercodeth: 10%;
}

table, th, td {
    background-color: aquamarine;
    border: 1px solbiercode black;
}

th{
    background-color: grey;    
}